.container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description {
    margin-left: 10px;
}

.entity {
    align-items: center;
    display: flex;
    padding: 15px;
}

.logo {
    display: block;
    margin: 0;
    width: 200px;
    border-radius: 50%;
}

.thumbnail {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

@media (prefers-color-scheme: dark) {
  a {
    color: hsl(219, 79%, 65%);
  }

  a:visited {
    color: hsl(260, 57%, 65%);
  }

  body {
    color: white;
    background-color: black;
  }
}

