.container {
    align-items: flex-start;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.description {
    margin-left: 10px;
}

.entity {
    align-items: center;
    display: flex;
}

.logo {
    display: block;
    margin: 0;
    width: 200px;
}

.thumbnail {
    height: 50px;
    width: 50px;
}